node_modules
.pnpm-store
.next
.git
.gitignore
.env
.env.*
!.env.example
coverage
playwright-report
test-results
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode
.idea
.DS_Store
*.tsbuildinfo