.medichain {
  --background: #f5ffff;
  --foreground: #093738;
  --card: #f7fffe;
  --card-foreground: #093738;
  --popover: #f7fffe;
  --popover-foreground: #093738;
  --primary: #1b7d7e;
  --primary-foreground: #f5ffff;
  --secondary: #d2fff8;
  --secondary-foreground: #0e4c4d;
  --muted: #b2e2d9;
  --muted-foreground: #193d3d;
  --accent: #1bc2bd;
  --accent-foreground: #062d2d;
  --destructive: #d45b5b;
  --border: #b4b4b4;
  --input: #698882;
  --ring: #5fa7ff;
  --chart-1: #1b7d7e;
  --chart-2: #1bc2bd;
  --chart-3: #7bfee2;
  --chart-4: #5fa7ff;
  --chart-5: #4e8fe0;
  --sidebar: #e7fffb;
  --sidebar-foreground: #093738;
  --sidebar-primary: #1b7d7e;
  --sidebar-primary-foreground: #f5ffff;
  --sidebar-accent: #cffff7;
  --sidebar-accent-foreground: #0e4c4d;
  --sidebar-border: #9de8da;
  --sidebar-ring: #5fa7ff;
}
